.loader {
  transition: all .2s ease;
}

.loader__wrapper {
  background-color: #f2f2f2;
  height: calc(100vh - 80px);
  width: 100%;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100000;
  opacity: 1;
  animation: fade .8s;
}

.loader__img {
  height: auto;
  max-width: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loaderAnimate-enter {
  opacity: 0;
}

.loaderAnimate-enter.loaderAnimate-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.loaderAnimate-leave {
  opacity: 1;
}

.loaderAnimate-leave.loaderAnimate-leave-active {
  opacity: 0;
  max-height: 0;
  transition: opacity 200ms ease-in, max-height 200ms ease-out;
}

@media (max-width: 767px) {
  .loader__wrapper {
    top: 35px;
    height: calc(100vh - 35px);
  }
}
